.formGroup {
  margin-bottom: 16px;
  position: relative;
}

.formGroup label {
  display: block;
  margin-bottom: 6px;
  color: #002e4c;
  font-weight: 500;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.inputWrapper input {
  width: 90%;
  padding: 0.9rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
  cursor: text;
  color: #757575;
}

.inputWrapper input:focus {
  outline: none;
  border-color: #0044a0;
  box-shadow: 0 0 5px rgba(0, 68, 160, 0.3);
}

.eyeButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.icon {
  color: #ccc;
  font-size: 1.3rem;
}
