.toolbar {
  display: flex;
  align-items: center;
  gap: 8px;
}

.plateInput {
  width: 200px;
}

.filterButtonWrapper {
  width: 200px;
}

.plateInput input {
  height: 35px;
}

.filterButtonWrapper button {
  height: 35px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .toolbar {
    flex-direction: column;
    align-items: stretch;
  }

  .plateInput,
  .filterButtonWrapper {
    width: 100%;
  }

  .filterButtonWrapper button {
    margin-bottom: 0;
    max-width: 100%;
  }
}
