.calendarButton {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #888;
}

.calendarButton:hover {
  color: #002e4c;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}
