.loadingPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #f0f8f2;
}

.loadingContent {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  max-height: 200px;
}
